{% load i18n %}{% autoescape off %}
    {% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

    {% translate "Please go to the following page and choose a new password:" %}
    {% block reset_link %}
        <a href="{{ password_reset_url }}">Link to reset</a>
    {% endblock %}
    <br>
    {% translate 'Your username, in case you’ve forgotten:' %} <b>{{ user.get_username }}</b>
    <br>
    {% translate "Thanks for using our site!" %}
    <br>
    {% blocktranslate %}The <a href="{{ site_name }}">{{ site_name }}</a> team{% endblocktranslate %}
{% endautoescape %}